################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Checkout.Application/bin/Debug/netcoreapp2.0
/Checkout.Application/obj
/Checkout.com/obj
/.vs
