################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Checkout.Application/bin/Debug/netcoreapp2.0
/Checkout.Application/obj
/Checkout.com/obj
/.vs
/Checkout.Application.Tests/bin/Release/netcoreapp2.0/Checkout.Application.Tests.deps.json
/Checkout.Application.Tests/bin/Release/netcoreapp2.0/Checkout.Application.Tests.runtimeconfig.dev.json
/Checkout.Application.Tests/bin/Release/netcoreapp2.0/Checkout.Application.Tests.runtimeconfig.json
/Checkout.Application.Tests/obj/Release/netcoreapp2.0/Checkout.Application.Tests.csproj.CopyComplete
/Checkout.Application.Tests/obj/Release/netcoreapp2.0/Checkout.Application.Tests.csproj.FileListAbsolute.txt
/Checkout.Web.Client/obj/Release/netcoreapp2.0/Checkout.Web.Client.csproj.FileListAbsolute.txt
/Checkout.Application.Tests/bin/Release/netcoreapp2.0/xunit.runner.json
/Checkout.Web.Client/bin/Release/netcoreapp2.0/Checkout.Web.Client.deps.json
/Checkout.Web.Console/bin/Release/netcoreapp2.0/Checkout.Web.Console.deps.json
/Checkout.Web.Console/bin/Release/netcoreapp2.0/Checkout.Web.Console.runtimeconfig.dev.json
/Checkout.Web.Console/bin/Release/netcoreapp2.0/Checkout.Web.Console.runtimeconfig.json
/Checkout.Web.Console/obj/Release/netcoreapp2.0/Checkout.Web.Console.csproj.CopyComplete
/Checkout.Web.Console/obj/Release/netcoreapp2.0/Checkout.Web.Console.csproj.FileListAbsolute.txt
/Checkout.Web.Tests/bin/Release/netcoreapp2.0/Checkout.Web.Tests.deps.json
/Checkout.Web.Tests/bin/Release/netcoreapp2.0/Checkout.Web.Tests.runtimeconfig.dev.json
/Checkout.Web.Tests/bin/Release/netcoreapp2.0/Checkout.Web.Tests.runtimeconfig.json
/Checkout.Web.Tests/obj/Release/netcoreapp2.0/Checkout.Web.Tests.csproj.CopyComplete
/Checkout.Web.Tests/obj/Release/netcoreapp2.0/Checkout.Web.Tests.csproj.FileListAbsolute.txt
